.scrollable {
  height: 100%;

  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1 1 auto;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  @supports(display: grid) { // hack to fix Chrome <57
    contain: strict;
  }

  &.optionally-scrollable {
    overflow-y: auto;
  }
}
