.about-body {
  font-size:    var(--text30-font);
  line-height:  var(--text30-line);
  background:   var(--color1);
  color:        var(--textcolor);
  padding:      var(--padding20);

  font-family:    "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic,
  "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
  "メイリオ", Meiryo, Helvetica, Arial, sans-serif;
  

  a, a:visited, a:link {
    color:      var(--linkcolor);
  }

  a:hover {
    color:      var(--strong1);
  }

  p {
    margin:       var(--verticalspace20);
  }

  h1 {}

  h2 {
    font-size:    var(--text40-font);
    line-height:  var(--text40-line);
    margin:       var(--verticalspace30);
  }

  h3 {
    font-size:    var(--text40-font);
    line-height:  var(--text40-line);
    margin:       var(--verticalspace30);
  }


  // ---------------------------------------------------------------------
  .thicc {
    max-width:  800px;
    margin:     0 auto;
    display:    flex;

    .main {
      flex-shrink:    0;
      flex-grow:      0;
      flex-basis:     600px;

      .panel {}

      .information-board {
        display:          flex;
        align-items:      baseline;
        justify-content:  space-between;

        margin:     var(--verticalspace30);
        padding:    var(--verticalspace30);
        border-top: 1px solid var(--color2);


        .section {
          flex-basis:   200px;

          .count_before {
            display:      block;
            font-size:    var(--text40-font);
            line-height:  var(--text40-line);
          }

          strong {
            display:      block;
            font-weight:  bold;
            font-size:    var(--text50-font);
            line-height:  var(--text50-line);
            color:        var(--strong1);
          }

          .count_after {
            display:      block;
            font-size:    var(--text30-font);
            line-height:  var(--text30-line);
          }
        }
      }

      .content_body {
        margin:     var(--verticalspace30);
        padding:    var(--padding20) var(--padding20) 0 0;
        border-top: 1px solid var(--color2);
        text-align: justify;
        word-wrap:  break-word;
      }
    }

    .sidebar {
      flex-shrink:    0;
      flex-grow:      0;
      flex-basis:     200px;

      padding:        0 0 0 calc(var(--grid) * 4);
      border-left:    1px solid var(--color2);

      .panel {
        margin:         var(--verticalspace20);

        .panel-header {
          font-size:    var(--text30-font);
          line-height:  var(--text30-line);
        }
        .panel-list,
        .panel-body {
          margin:       var(--verticalspace10);
          margin:       var(--verticalspace10);
          font-size:    var(--text20-font);
          line-height:  var(--text20-line);
        }
      }
    }
  }
}
