.about-body {
  background-color: darken($ui-base-color, 7%);

  a, p a {
    text-decoration: none;
  }

  p {
    font: inherit;
  }

  .signup {
    text-align: center;

    button {
      margin: 20px auto 0;
      width: 250px;
      height: 60px;
      font-size: 18px;
    }
  }

  .signin {
    text-align: center;

    button {
      display: block;
      margin: 20px auto 0;
      height: 44px;
      font-size: 18px;
      background-color: lighten($ui-base-color, 26%);
    }
  }

  .about-cols {
    display: flex;
    align-items: top;
    margin: 5px auto;
    width: 1330px;

    .app-holder {
      display: block;
    }

    .about-col {
      flex: 0 0 auto;
      box-sizing: border-box;
      margin: 5px;
      width: 330px;
      background-color: $ui-base-color;

      .column {
        padding: 0;
      }

      .show_on_wide_display {
        display: block;
      }

      .hide_on_wide_display {
        display: none;
        margin: 20px auto;
        width: 300px;
      }

      &.left {
        padding: 20px;
      }

      &.main {
        flex: 1;
        background-position: center -640px;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml;utf8,<svg width="1600" height="1599" viewBox="0 0 1600 1599" xmlns="http://www.w3.org/2000/svg"><title>backlight</title><defs><radialGradient fx="50%" fy="50%" gradientTransform="matrix(0 1 -1 0 1 0)" id="a"><stop stop-color="%23FFF" offset="0%"/><stop stop-color="%23FFF" stop-opacity="0" offset="100%"/></radialGradient></defs><path d="M1594.354 894.072a805.008 805.008 0 0 0 5.649-95.274c0-12.105-.272-24.179-.813-36.208l-786.225 35.32c-.05-.582 776.236-130.556 776.236-130.556a798.086 798.086 0 0 0-21.438-93.819L812.379 794.978c-.122-.378 722.778-312.053 722.778-312.053a798.653 798.653 0 0 0-43.159-85.817L811.355 792.632c-.266-.474 627.638-475.364 627.638-475.364a802.308 802.308 0 0 0-62.035-72.835L809.352 789.878c-.425-.434 497.356-610.365 497.356-610.365a800.722 800.722 0 0 0-77.604-56.173l-422.53 664.414c-.416-.244 338.548-711.018 338.548-711.018a797.63 797.63 0 0 0-89.195-36.255L804.143 786.654C803.77 786.53 962.96 15.24 962.96 15.24a799.777 799.777 0 0 0-94.944-13.823l-66.484 784.657C799.768 785.921 772.831-1 772.831-1a801.458 801.458 0 0 0-95.24 8.908l119.964 778.26c-.421.078-213.968-757.892-213.968-757.892a796.913 796.913 0 0 0-90.958 31.578l302.578 727.002c-.42.166-388.87-684.801-388.87-684.801a800.515 800.515 0 0 0-80.433 52.118L792.61 788.22c-.488.336-540.217-572.814-540.217-572.814a802.552 802.552 0 0 0-65.686 69.531l603.287 505.74c-.366.439-660.306-428.77-660.306-428.77a799.52 799.52 0 0 0-47.532 83.447l706.105 347.99c-.182.379-743.361-259.204-743.361-259.204a798.453 798.453 0 0 0-26.305 92.708l768.822 168.798c-.125.469-783.725-73.935-783.725-73.935A805.712 805.712 0 0 0 .203 816.94l786.75-17.676c.014.637-778.934 112.928-778.934 112.928a798.172 798.172 0 0 0 19.273 94.234l760.145-204.004c.106.39-729.624 295.351-729.624 295.351a800.178 800.178 0 0 0 41.202 86.822l689.33-379.789c.238.48-638.137 460.843-638.137 460.843a802.384 802.384 0 0 0 60.38 74.242L790.239 807.62c.412.466-510.897 598.76-510.897 598.76a802.516 802.516 0 0 0 76.272 57.902l437.35-654.293c.43.277-354.5 702.777-354.5 702.777a798.013 798.013 0 0 0 88.306 38.279l268.746-739.81c.38.14-176.372 767.185-176.372 767.185a799.362 799.362 0 0 0 94.701 16.01L798.1 811.884c1.985.191 10.963 787.112 10.963 787.112a801.09 801.09 0 0 0 95.242-6.737L802.215 811.852c.459-.077 196.475 762.22 196.475 762.22a797.548 797.548 0 0 0 91.667-29.479L804.71 811.165c.42-.161 372.923 693.205 372.923 693.205a799.305 799.305 0 0 0 81.633-50.29L807.317 809.837c.498-.336 526.853 584.688 526.853 584.688a801.245 801.245 0 0 0 67.245-68.015L809.983 807.35c.381-.454 650.168 443.544 650.168 443.544a798.977 798.977 0 0 0 49.403-82.301L811.79 804.564c.187-.396 737.034 276.164 737.034 276.164a795.967 795.967 0 0 0 28.435-92.082L812.632 802.202c.115-.445 781.722 91.87 781.722 91.87z" fill="url(%23a)" fill-rule="evenodd" opacity=".2"/></svg>');

        p, li {
          font: 16px/28px 'Montserrat', sans-serif;
          font-weight: 400;
        }
      }
      &.right {
        position: relative;
        background-color: #282c37;
        &:after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 30px;
          background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(40, 44, 55, 1) 60%);
        }
      }

      .about-timeline-container {
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }

    @media screen and (max-width: 1330px) {
      width: 990px;

      .about-col {
        .show_on_wide_display {
          display: none;
        }

        .hide_on_wide_display {
          display: block;
        }

        &.left {
          display: none;
        }
      }
    }

    .about-col-head {
      padding: 80px 0 40px;

      img {
        display: block;
        margin: 0 auto 80px;
      }

      p {
        padding: 0 60px;
      }
    }

    @media screen and (max-width: 650px) {
      width: 100%;
      margin: 0;

      .about-col {
        margin: 0;

        &.right {
          display: none;
        }

        .about-col-head {
          img {
            width: 80%;
          }
          p {
            padding: 0 20px;
          }
        }

        .about-col-body {
          width: 100%;
          border-radius: 0;

          &.first {
            background-image: none;
          }
        }

        .first {
          display: flex;
          flex-direction: column;

          .hide_on_wide_display {
            width: 100%;
          }

          .about-col-body-apps {
            order: -1;
            width: 100%;
            margin-bottom: 20px;

            .about-col-body-app {
              max-width: 100%;
              padding: 0 10px;

              img {
                width: 100%;
              }
            }
          }

          .separate {
            display: none;
          }
        }
      }
    }

    .about-col-body {
      box-sizing: border-box;
      margin: 0 auto;
      padding: 20px;
      width: 560px;
      background-color: black;
      border-radius: 16px;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;

      &.first {
        background-position: right 20px;
        background-repeat: no-repeat;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFcAAAB/CAQAAAAwPpa8AAAEeUlEQVR42u2cW4hVVRjHf3tmaMbMqbSLGZqO4zRBo+QtmZeSMijQEILMvBXUQ0gXqwcrQ0yfZCCCIIjCBwkRgoqEshLCS/OgkiaakpcyKIe0xrQz4+X8enCUueqc2efs2RvWH87D2t/ea/3Ot9ft22vtHdGLLKeOSUxiFAfYy97o9+LaiyDXOAbAm1xlq12133lGHefFsjvZZcWAfUY9arlT/U391td8zLus8l6f9B2PqZ9bDfHs3m7Oi86IC1tpi7rYav/xFxt72Ct80TY3xrWDa9Uf4uIuVA8ZgbOs7uOcyU4ogv1m/1OnxcPdoL5JIvITdeVAry4DoB74MRlc9gB3x8C1jDrgYEK4P8fBBRyrtlueUGWoV89c7vYGUhmGAHnyCXn3AlBFDNwTQBWjE8KtA1qi/IBxo1Oc7sgmKdxf4/UMXwMTE8Jt6CgvRvV/Wv0pkYY2zNPqlHiZVPmnOi8B3NVFGITBpZeH4ZLCDvesOjN+RmW+69gEvDvNtwnqyzu1jo9jj6uKAs9v5AKHY9hjqixbdzfgBtyAG3ADbsANuAG3FBPIW70ljj0oKCgoKCgoKCgoKCioH7rmWk+6Yq8+cb2fZ8mxnPeyEPGO8g91QTbC80qb1aaMVGg/Vr9JakNGXNil6mGHZwP2Ac97xoZswI6xRX0iG7BD3KWuyUoTW69+aTaeSrpMPeiN2YB92Au2Wp8N2BpPmnd2NmCHukddkZUmtlH9tNQ7cYoFu1zd5w1ZYC2zirO8wuzoTJj8B2UvVnMujWyIdiXUtBczguZox5X0CBYD66JT/c3gfXVRYj3RVvXlTuk7VR3Zr55hEO5oW8evc7rrkVTh5gG7pbseSRVunGEiVkx3xPUOTRK3YsCwt9HEdYzjez7MgndztAPwdya8G/3rU7zADj4r+NJzQGWndBVgx58vFS5Em9g0oAuPArWd0rXA8Si1HdluYKF3dLSBiFeBnYU0m2RHtQr3qy2udL4vuV3NWZdaXHCsmzu9iXnER0ve1GLNq47xiDNoYDwnOMR3/au3g4YLEDXTnOioNnjB5UQfdzRBpfHuXNf29pZTX8cHG7ePjizpDi7MdzOH6wRbbbUmK96dQjXHoyNZwX0Q+Co7dXcWsDkjuNZQQxtbs+LdWcC2KJcV3IeAb6Gvz0akLbSsB+Z4H9czJwu4W2igEdhpeXQx/biv8wW17KM5ymfAu9F5trAlzBn656xL0QTj2B0d7xll9H68oH465k6p6K8euAUUXovR4ULsxnzgFz3Xo+46g0ZORes6FbKE4eyIesaqBb+F3bW44tTd6TTRNdvnaWJ6Wue7bdDtCWAbkEsrbh66fWim+/pBCH4CbsAtAm47XVcLLqXa04rbfbXgUupgWnEP0M5IF14Z0xYwkhz704dbARCdtIk3WOdMtiONLAFWpHi7i5Wu9tyV1YKcq3rfvesi5181n2vYizQ9j9p5y4+Yzj3kOcS2EnwXc1DuQngLu+BoomAfD+vWS3fX6ehcWiJhgPlMvar9A0q0Del/eoGy12/r5roAAAAASUVORK5CYII=');
      }

      p {
        margin-bottom: 10px;
        color: $ui-primary-color;

        &.main {
          color: $primary-text-color;
          text-align: center;
        }

        &.title {
          margin-top: 30px;
          color: $primary-text-color;
        }
      }

      .about-col-body-apps {
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        width: 420px;

        p {
          font-size: 14px;
        }
      }

      & + .about-col-body {
        margin-top: 20px;
      }
    }

    .about-col-timeline-head {
      padding: 15px;
      font-size: 16px;
    }
  }
}
