.emoji-dialog {
  width: 245px;
  height: 270px;
  background: $simple-background-color;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 8px rgba($base-shadow-color, 0.2);

  .emojione {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .emoji-dialog-header {
    padding: 0 10px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      display: inline-block;
      box-sizing: border-box;
      padding: 10px 5px;
      cursor: pointer;
      border-bottom: 2px solid transparent;

      .emoji {
        width: 18px;
        height: 18px;
      }

      img,
      svg {
        width: 18px;
        height: 18px;
        filter: grayscale(100%);
      }

      &:hover {
        img,
        svg {
          filter: grayscale(0);
        }
      }

      &.active {
        border-bottom-color: $ui-highlight-color;

        img,
        svg {
          filter: grayscale(0);
        }
      }
    }
  }

  .emoji-row {
    box-sizing: border-box;
    overflow-y: hidden;
    padding-left: 10px;

    .emoji {
      display: inline-block;
      padding: 2.5px;
      border-radius: 4px;
    }
  }

  .emoji-category-header {
    box-sizing: border-box;
    overflow-y: hidden;
    padding: 10px 8px 10px 16px;
    display: table;

    > * {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .emoji-category-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: darken($ui-secondary-color, 18%);
    cursor: default;
  }

  .emoji-category-heading-decoration {
    text-align: right;
  }

  .modifiers {
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: 4px;

    li {
      display: inline-block;
      padding: 0 2px;

      &:last-of-type {
        padding-right: 0;
      }
    }

    .modifier {
      display: inline-block;
      border-radius: 10px;
      width: 15px;
      height: 15px;
      position: relative;
      cursor: pointer;

      &.active::after {
        content: "";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 10px;
        border: 2px solid $base-border-color;
        top: 2px;
        left: 2px;
      }
    }
  }

  .emoji-search-wrapper {
    padding: 10px;
    border-bottom: 1px solid lighten($ui-secondary-color, 4%);
  }

  .emoji-search {
    font-size: 14px;
    font-weight: 400;
    padding: 7px 9px;
    font-family: inherit;
    display: block;
    width: 100%;
    background: rgba($ui-secondary-color, 0.3);
    color: darken($ui-secondary-color, 18%);
    border: 1px solid $ui-secondary-color;
    border-radius: 4px;
  }

  .emoji-categories-wrapper {
    position: absolute;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .emoji-search-wrapper + .emoji-categories-wrapper {
    top: 93px;
  }

  .emoji-row .emoji {
    img,
    svg {
      transition: transform 60ms ease-in-out;
    }

    &:hover {
      background: lighten($ui-secondary-color, 3%);

      img,
      svg {
        transform: translateZ(0) scale(1.2);
      }
    }
  }

  .emoji {
    width: 22px;
    height: 22px;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }
}

.upload-area {
  align-items: center;
  background: rgba($base-overlay-background, 0.8);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 2000;

  * {
    pointer-events: none;
  }
}

.upload-area__drop {
  width: 320px;
  height: 160px;
  display: flex;
  box-sizing: border-box;
  position: relative;
  padding: 8px;
}

.upload-area__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 4px;
  background: $ui-base-color;
  box-shadow: 0 0 5px rgba($base-shadow-color, 0.2);
}

.upload-area__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $ui-secondary-color;
  font-size: 18px;
  font-weight: 500;
  border: 2px dashed lighten($ui-base-color, 26%);
  border-radius: 4px;
}

.upload-progress {
  padding: 10px;
  color: lighten($ui-base-color, 26%);
  overflow: hidden;
  display: flex;

  .fa {
    font-size: 34px;
    margin-right: 10px;
  }

  span {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
  }
}

.upload-progess__message {
  flex: 1 1 auto;
}

.upload-progress__backdrop {
  width: 100%;
  height: 6px;
  border-radius: 6px;
  background: lighten($ui-base-color, 26%);
  position: relative;
  margin-top: 5px;
}

.upload-progress__tracker {
  position: absolute;
  left: 0;
  top: 0;
  height: 6px;
  background: $ui-highlight-color;
  border-radius: 6px;
}

.emoji-button {
  display: block;
  font-size: 24px;
  line-height: 24px;
  margin-left: 2px;
  width: 24px;
  outline: 0;

  &:active,
  &:focus {
    outline: 0 !important;
  }

  img {
    filter: grayscale(100%);
    opacity: 0.8;
    display: block;
    margin: 0;
    width: 22px;
    height: 22px;
    margin-top: 2px;
  }

  &:hover,
  &:active,
  &:focus {
    img {
      opacity: 1;
      filter: none;
    }
  }
}

.dropdown--active .emoji-button img {
  opacity: 1;
  filter: none;
}

.privacy-dropdown {
  position: relative;
}

.privacy-dropdown__dropdown, .time-limit-dropdown__dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 27px;
  width: 230px;
  background: $simple-background-color;
  border-radius: 0 4px 4px;
  z-index: 2;
  overflow: hidden;
}

.time-limit-dropdown__dropdown {
  left: -210px;
  top: 0;
}

.time-limit-dropdown__header {
  padding: 10px;
  color: $ui-base-color;
  border-bottom: 1px solid lighten($ui-secondary-color, 4%);
}

.time-limit-dropdown__header_note {
  font-size: 10px;
  color: lighten($ui-base-color, 50%);
}

.privacy-dropdown__option, .time-limit-dropdown__option {
  color: $ui-base-color;
  padding: 10px;
  cursor: pointer;
  display: flex;

  &:hover,
  &.active {
    background: $ui-highlight-color;
    color: $primary-text-color;

    .privacy-dropdown__option__content, .time-limit-dropdown__option__content {
      color: $primary-text-color;
      color: $primary-text-color;

      strong {
        color: $primary-text-color;
      }
    }
  }

  &.active:hover {
    background: lighten($ui-highlight-color, 4%);
  }
}

.privacy-dropdown__option__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.privacy-dropdown__option__content, .time-limit-dropdown__option__content {
  flex: 1 1 auto;
  color: darken($ui-primary-color, 24%);

  strong {
    font-weight: 500;
    display: block;
    color: $ui-base-color;
  }
}

.privacy-dropdown.active {
  .privacy-dropdown__value {
    background: $simple-background-color;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -4px 4px rgba($base-shadow-color, 0.1);
  }

  .privacy-dropdown__dropdown {
    display: block;
    box-shadow: 2px 4px 6px rgba($base-shadow-color, 0.1);
  }
}

.time-limit-dropdown.dropdown--active {
  &:after {
    right: auto;
    bottom: 0px;
    left: 9px;
  }

  .time-limit-dropdown__dropdown {
    display: block;
    box-shadow: 0 0 8px rgba($base-shadow-color, 0.1);
  }

  .dropdown__trigger {
    color: $ui-highlight-color;
  }
}

.time-limit-dropdown .icon-button {
  font-size: 24px;
  margin-left: -2px;
}

.time-limit-dropdown .dropdown__content {
  position: relative;
}

.autosuggest-textarea,
.spoiler-input {
  position: relative;
}

.autosuggest-textarea__textarea,
.spoiler-input__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  color: $ui-base-color;
  padding: 10px;
  font-family: inherit;
  font-size: 14px;
  resize: vertical;
  border: 0;
  outline: 0;

  &:focus {
    outline: 0;
  }

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.spoiler-input__input {
  border-radius: 4px;
}

.autosuggest-textarea__suggestions {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0 15px rgba($base-shadow-color, 0.4);
  background: $ui-secondary-color;
  color: $ui-base-color;
  font-size: 14px;

  &.autosuggest-textarea__suggestions--visible {
    display: block;
  }
}

.autosuggest-textarea__suggestions__item {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background: darken($ui-secondary-color, 10%);
  }

  &.selected {
    background: $ui-highlight-color;
    color: $base-border-color;
  }
}

.autosuggest-account {
  overflow: hidden;
}

.autosuggest-account-icon {
  float: left;
  margin-right: 5px;
}

.autosuggest-status {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  strong {
    font-weight: 500;
  }
}

.emoji-picker__dropdown {
  position: absolute;
  right: 5px;
  top: 5px;

  &.dropdown--active::after {
    border-color: transparent transparent $base-border-color;
    bottom: -1px;
    right: 8px;
  }

  &.dropdown--active .dropdown__content {
    position: absolute;
    display: block;
    line-height: 18px;
    max-width: 311px;
    right: 0;
    text-align: left;
    z-index: 9999;

    & > ul {
      list-style: none;
      background: $ui-secondary-color;
      padding: 4px 0;
      border-radius: 4px;
      box-shadow: 0 0 15px rgba($base-shadow-color, 0.4);
      min-width: 140px;
      position: relative;
    }

    &.dropdown__right {
      right: 0;
    }

    &.dropdown__left {
      & > ul {
        left: -98px;
      }
    }

    & > ul > li > a {
      font-size: 13px;
      line-height: 18px;
      display: block;
      padding: 4px 14px;
      box-sizing: border-box;
      width: 150px;
      text-decoration: none;
      background: $ui-secondary-color;
      color: $ui-base-color;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:focus {
        outline: 0;
      }

      &:hover {
        background: $ui-highlight-color;
        color: $ui-secondary-color;
      }
    }
  }
}

.compose-form__upload-wrapper {
  overflow: hidden;
}

.compose-form__uploads-wrapper {
  display: flex;
  padding: 5px;
}

.compose-form__upload {
  flex: 1 1 0;
  margin: 5px;
}

.compose-form__upload-thumbnail {
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
}

.compose-form__upload-cancel {
  background-size: cover;
  border-radius: 4px;
  height: 100px;
  width: 100px;
}

.compose-form__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.compose-form__buttons {
  padding: 10px 10px 10px 0;
  display: flex;

  .icon-button {
    box-sizing: content-box;
    padding: 0 3px;
  }
}

.compose-form__publish {
  display: flex;
  min-width: 0;
}

.compose-form__publish-button-wrapper {
  overflow: hidden;
  padding-top: 10px;
}

.text-icon-button {
  color: lighten($ui-base-color, 33%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 11px;
  padding: 0 3px;
  line-height: 27px;
  outline: 0;
  transition: color 100ms ease-in;

  &:hover,
  &:active,
  &:focus {
    color: lighten($ui-base-color, 26%);
    transition: color 200ms ease-out;
  }

  &.disabled {
    color: lighten($ui-base-color, 13%);
    cursor: default;
  }

  &.active {
    color: $ui-highlight-color;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &::-moz-focus-inner,
  &:focus,
  &:active {
    outline: 0 !important;
  }
}

.compose-form__sensitive-button {
  display: none;

  &.compose-form__sensitive-button--visible {
    display: block;
  }

  .compose-form__sensitive-button__icon {
    line-height: 27px;
  }
}

.character-counter__wrapper {
  line-height: 36px;
  margin: 0 8px;
  padding-top: 10px;
}

.character-counter {
  cursor: default;
  font-size: 16px;
}

.character-counter--over {
  color: $warning-red;
}

.reply-indicator {
  display:    block;
  text-align: left;

  padding:    var(--padding20);
  margin:     var(--verticalspace10);

  border-radius:      var(--radius);
  background-color:   var(--color1);

  color:          var(--textcolor);
  font-size:      var(--text30-font);
  line-height:    var(--text30-line);
}

.reply-indicator__header {
  margin-bottom: 5px;
  overflow: hidden;
}

.reply-indicator__cancel {
  float: right;
  line-height: 24px;
}

.reply-indicator__display-name {
  color: $ui-base-color;
  display: block;
  max-width: 100%;
  line-height: 24px;
  overflow: hidden;
  padding-right: 25px;
  text-decoration: none;
}

.reply-indicator__display-avatar {
  float: left;
  margin-right: 5px;
}

.status__content--with-action {
  cursor: pointer;
}
