.lobby-column {
  .dropdown-menu {
    &.active .dropdown-content {
      left: var(--padding30);
    }
  }
}

.dropdown-menu {
  &.active .dropdown-content {
    display:    block;
    position:   absolute;

    z-index:    var(--z-index-small-overlay);

    padding:    var(--padding10);
    width:      var(--width-contextmenu);

    border-radius:      var(--radius);
    background-color:   var(--color1);

    font-size:      var(--text20-font);
    line-height:    var(--text20-line);

    box-shadow:     var(--shadow2);
    font-weight:    normal;
    text-align:     left;

    li.menu-item > a {
      display: block;
    }

    li.dropdown-sep {
      height: 1px;
      background-color: var(--color3);
      margin: var(--verticalspace20-both);
    }
  }
}

.modal-menu {
  display:    block;
  padding:    var(--padding10);
  width:      var(--width-gallery);

  border-radius:      var(--radius);
  background-color:   var(--color1);

  font-size:      var(--text40-font);
  line-height:    var(--text40-line);

  box-shadow:     var(--shadow2);
  font-weight:    normal;
  text-align:     left;

  li.menu-item {
    padding: var(--padding20);

    a {
      display: block;
    }
  }

  li.dropdown-sep {
    height: 1px;
    background-color: var(--color3);
  }
}
