.track-compose {
  --video-width: 600px;
  --form-width: 400px;
  --controls-height: 30px;
  padding: var(--padding30);
  color: #C3C3C3;
  background-color: #1F1F1F;
  border-radius: var(--radius);
  text-align: left;

  button {
    width: 100%;
    border: 0;
    height: calc(var(--grid) * 8);

    font-size: var(--text30-font);
    line-height: var(--text30-line);
  }

  @media screen and (max-width: 1000px) {
    .content {
      display: block;
    }
  }

  @media screen and (min-width: 1001px) {
    .content {
      display: flex;
    }
  }

  .content {
    // display: flex;
    align-items: top;
    width: 100%;
    overflow-y: scroll;

    > div {
      max-width: var(----video-width);
    }

    > .musicvideo {
      display: flex;
      flex-direction: column;
      max-width: 480px;

      audio {
        width: 100%;
      }

      > .canvas-container {
        display: flex;
        justify-content: space-around;
        min-width: 0;
        min-height: 0;

        > canvas {
          max-height: var(--video-width);
          max-width: var(--video-width);
          width: 100%;
          height: 100%;
        }
      }
    }

    @media screen and (max-width: 1000px) {
      .form-content {
        width: calc(100% - var(--padding10) * 2);
      }
    }

    @media screen and (min-width: 1001px) {
      .form-content {
        width: var(--form-width);
      }
    }

    .form-content {
      margin: var(--padding10);

      .tablist {
        display: flex;

        button {
          box-sizing: content-box;
          margin: var(--padding10);
          background-color: var(--textcolor);
          color: var(--color1);
        }
      }

      fieldset {
        font-size: var(--text20-font);
        line-height: var(--text20-line);

        & + fieldset {
          margin-top: 10px;
        }

        legend {
          font-size: var(--text30-font);
          line-height: var(--text30-line);
          font-weight: bold;
          width: 100%;

          & + legend {
            padding-top: 20px;
          }
        }

        label {
          display: block;
        }

        label.horizontal {
          display: flex;
          align-items: center;

          .text {
            display: block;
            width: 100%;

            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: calc(var(--grid) * 30);
          }

          input[type="range"] {
            width: calc(100% - var(--padding10) * 2);
          }

          input[type="text"] {
            display: block;
            width: calc(100% - var(--padding10) * 2);
            padding: var(--padding5);
            border-radius: var(--radius);
            border: 1px solid var(--color3);

            font-size: var(--text30-font);
            line-height: var(--text30-line);
          }

          textarea {
            display: block;
            width: calc(100% - var(--padding10) * 2);
            height: calc(--grid * 10);
            padding: var(--padding10);
            border-radius: var(--radius);
            border: 1px solid var(--color3);
            resize: none;

            font-size: var(--text30-font);
            line-height: var(--text30-line);
          }
        }

        .chrome-picker {
          margin: var(--verticalspace20);
        }
      }
    }
  }

  .track-compose-file-upload {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    color: var(--tootcolor);
    overflow: hidden;

    .track-compose-file-upload-body {
      display: flex;
      align-items: center;
      height: 40px;
    }

    .text {
      display: flex;
      align-items: center;
      white-space: pre;

      .icon-button {
        vertical-align: middle;
        margin-right: 5px;
      }
    }

    input {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.01;
      cursor: pointer;
    }

    svg {
      stroke-width: 2px;
      stroke: var(--tootcolor);
    }
  }

  .track-compose-text-input, .track-compose-text-textarea {
    position: relative;

    .text {
      position: absolute;
      top: 0;
      left: 10px;
      right: 10px;
      bottom: 0;
      color: #494949;
      line-height: 32px;
      font-weight: bold;
      pointer-events: none;
    }

    input {
      display: block;
      box-sizing: border-box;
      padding: 0 10px;
      width: 100%;
      height: 32px;
      color: white;
      background-color: #161616;
      border: 0;
      border-radius: var(--radius);
      font-size: 16px;
    }

    textarea {
      display: block;
      box-sizing: border-box;
      padding: 10px;
      width: 100%;
      min-height: 96px;
      color: white;
      background-color: #161616;
      border: 0;
      border-radius: var(--radius);
      font-size: 16px;
    }
  }

  .actions {
    display: flex;
    align-items: flex-end;

    button {
      display: inline-block;
      margin: var(--verticalspace30);
      width: 120px;
      height: 40px;

      border-radius: 20px;
      background-color: var(--tootcolor);
      color: var(--color1);

      &.cancel {
        background-color: #585858;
      }

      & + button {
        margin-left: 10px;
      }

      &:first-child {
        margin-left: auto;
      }
    }
  }
}
