.musicvideo {
  .canvas-container canvas {
    width: 100%;
  }

  audio {
    display: block;
  }

  .controls-container {
    overflow: hidden;
    height: 0;
    transition: height 240ms ease-in-out;

    &.visible {
      height: 40px;
    }
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding15);
    background-color: #000000;
    border-radius: 0 0 var(--grid) var(--grid);

    .toggle {
      display:      block;
      margin-right: 10px;
      flex-shrink:  0;
      flex-grow:    0;
      flex-basis:   var(--iconsize10);
      color:        var(--strong2);

      width:  var(--iconsize10);
      height: var(--iconsize10);
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
      }
    }

    .icon-button {
      svg {
        stroke-width: 2px;
        stroke: #585858;
      }
    }

    .rc-slider {
      .rc-slider-track {
        background-color: #d6d6d6;
      }
      .rc-slider-rail {
        background-color: #4a4a4a;
      }
      .rc-slider-handle {
        border: solid 2px #000000;
      }
    }
  }
}
