.track {
  margin:     var(--verticalspace20);

  .musicvideo-wrapper {
    display: block;
    position: relative;

    box-shadow: var(--shadow);

    .thumbnail {
      width:  var(--width-gallery);
      height: var(--width-gallery); // aspect ratio 1:1
      background-size: cover;
      background-position: center center;

      img {
        display: block;
      }

      .playbutton {
        cursor:     pointer;

        position:   absolute;
        top:        0;
        left:       0;
        height:     var(--iconsize40);
        width:      var(--iconsize40);
        top:        calc((100% - var(--iconsize40))/ 2);
        left:       calc((100% - var(--iconsize40))/ 2);

        &:hover {
          opacity:    var(--hover-opacity);
          transition: var(--hover-transition);
        }
      }
    }
  }


  .credit {
    display:        block;
    font-size:      var(--text30-font);
    line-height:    var(--text30-line);

    font-weight:    bold;
    color:          var(--strong2);
    margin:         var(--verticalspace25);
  }
}
