.track {
  margin:     var(--verticalspace20);

  .musicvideo-wrapper {
    display:    block;
    position:   relative;

    box-shadow: var(--shadow);

    .thumbnail {
      width:    100%;

      .albumart {
        width:    100% ;
      }

      img {
        display: block;
      }

      .playbutton {
        cursor:     pointer;

        position:   absolute;
        top:        0;
        left:       0;
        height:     var(--iconsize40);
        width:      var(--iconsize40);
        top:        calc((100% - var(--iconsize40))/ 2);
        left:       calc((100% - var(--iconsize40))/ 2);

        &:hover {
          opacity:    var(--hover-opacity);
          transition: var(--hover-transition);
        }
      }
    }
  }


  .credit {
    display:        block;
    font-size:      var(--text40-font);
    line-height:    var(--text40-line);

    font-weight:    bold;
    color:          var(--strong2);
    margin:         var(--verticalspace30);
  }
}
