.media-post-button {
  display:    inline-block;
  text-align: center;

  width:              var(--width-gallary);
  height:             calc(var(--grid) * 17 - 2px); // - boreder * 2
  background-color:   var(--color1);

  border-right:   1px solid var(--color2);
  border-bottom:  1px solid var(--color2);
  border-left:    1px solid var(--color2);

  border-radius:  0 0 var(--radius) var(--radius);

  &:hover {
    .plus-button {
      background-color:   var(--tootcolor);
      color:              var(--color1);
      transition:         var(--hover-transition);
      font-weight: normal;
    }
  }

  .plus-button {
    display:            inline-block;
    width:              var(--iconsize30);
    height:             var(--iconsize30);
    border-radius:      var(--radius);
    margin:             var(--verticalspace30);
    color:              var(--tootcolor);

    line-height:        36px;  // We are sorry for the magic numbers,
    font-size:          20px;  // indeed.
    border:             1px solid var(--tootcolor);
  }
}
