.media-post-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width:              var(--width-gallary);
  height:             calc(var(--grid) * 18); // - boreder * 2
  background-color:   var(--color2);

  border-radius:  0 0 var(--radius-big) var(--radius-big);

  &:hover {
    .plus-button {
      background-color:   var(--tootcolor);
      color:              var(--color1);
      transition:         var(--hover-transition);
      font-weight: normal;
    }
  }

  .plus-button {
    display:            block;
    width:              var(--iconsize35);
    height:             var(--iconsize35);
    border-radius:      100%;
    color:              var(--tootcolor);
    background-color:   var(--color1);
    line-height:        var(--iconsize30);  // We are sorry for the magic numbers,
    font-size:          var(--iconsize30);  // indeed.
  }
}
