.icon-button {
  display: inline-block;
  width: var(--iconsize13);
  height: var(--iconsize13);
  line-height: 0;

  svg {
    width: var(--iconsize13);
    height: var(--iconsize13);
    stroke: var(--linkcolor);
    transition: all 0.2s var(--hover-timing);
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      svg {
        stroke-width: 2px;
        transform: scale(1.4);
        stroke: var(--strong1);
      }
    }
  }

  &.active {
    svg {
      stroke: var(--strong1);
    }
  }
}
