.notification {
  display:    block;
  text-align: left;

  padding:    var(--padding20);
  margin:     var(--verticalspace10);

  border-radius:      var(--radius);
  background-color:   var(--color1);

  color:          var(--textcolor);
  font-size:      var(--text30-font);
  line-height:    var(--text30-line);
}
