.account {
  max-width: 100%;
  overflow: hidden;
  display: flex;

  .account-link {
    display:    block;
    flex: 1;
    text-align: left;

    text-overflow:  ellipsis;
    white-space:    nowrap;
    overflow:       hidden;

    .display-name {
      display:        block;
      font-weight:    bold;

      text-overflow:  ellipsis;
      white-space:    nowrap;
      overflow:       hidden;

      color: var(--strong2);
    }

    .acct {
      display:        block;
      font-size:      9px;

      text-overflow:  ellipsis;
      white-space:    nowrap;
      overflow:       hidden;
    }

    &:hover {
      .display-name, .acct {
        color: var(--strong1);
      }
    }
  }
}
