.status {
  display:    block;
  text-align: left;

  padding:    var(--padding20);
  margin:     var(--verticalspace10);

  border-radius:      var(--radius);
  background-color:   var(--color1);

  color:        var(--textcolor);
  font-size:    var(--text30-font);
  line-height:  var(--text30-line);

  &.highlight {
    border:     1px dashed var(--strong1);
    background: var(--color2);
  }

  .status-head {
    display: flex;

    .account {
      flex: 1;
    }

    .status-time {
      justify-content: flex-end;
      white-space: nowrap;

      display:    block;
      font-size:  9px;
      text-align: right;
    }
  }

  .status__content {
    display:    block;
    margin:     var(--verticalspace20);
    text-align: justify;

    word-break: break-all;
  }

  .prepend-inline,
  .meta {
    font-size:    var(--text10-font);
    line-height:  var(--text10-line);

    .fa {
      letter-spacing: var(--grid);
    }
  }
  
  .prepend-inline {
    margin:       0 0 calc(var(--grid) * 2) 0;
  }

  .status-media {
    .status-card-video {
      padding-bottom: calc(100% * 9/16 + var(--grid) * 8);
      position:       relative;

      iframe {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
      }
    }
  }
}
