.status-post-button {
  display: block;
  border-radius: var(--radius);

  cursor: pointer;
  text-align: center;
  width: var(--iconsize30);
  height: var(--iconsize30);
  box-shadow: var(--shadow2);
  color: var(--tootcolor);
  line-height: 36px;
  font-size: 20px;

  &:hover {
    background-color:   var(--tootcolor);
    color:              var(--color1);
    transition:         var(--hover-transition);
    font-weight: normal;
  }

  &.fixed {
    position: fixed;
    bottom: calc(var(--grid) * 4 + var(--height-deck));
    right: calc(var(--grid) * 4);
  }
}
