.login-box {
  display: block;
  margin:  var(--verticalspace30);

  color:          var(--strong1);
  font-size:      var(--text20-font);
  line-height:    var(--text20-line);

  .button, div {
    display: block;
    margin:  var(--verticalspace20);
    width:   calc(100% - 2px);  // 100% - border-width

    text-align:     center;
  }

  button {
    border: 1px solid var(--strong1);

    color:          var(--strong1);
    font-size:      var(--text30-font);
    line-height:    var(--text30-line);

    border-radius:    var(--radius);
    background-color: var(--color1);
  }

  button:hover {
    color:              var(--color1 );
    background-color:   var(--strong1);
    transition:         var(--hover-transition);
  }
}
