.timeline {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .navigation-column {
    flex-shrink:    0;
    flex-grow:      0;
    flex-basis:     var(--width-globalnavi);
    width: var(--width-globalnavi);
    overflow-y: scroll;
  }

  .lobby-column {
    flex-shrink:    0;
    flex-grow:      0;
    flex-basis:     var(--width-lobby);
    width: var(--width-lobby);

    display: flex;
    flex-direction: column;
    background-color: var(--color2);

    .scrollable {
      padding: var(--padding20);
    }
  }

  .garally-column {
    flex-shrink:    0;
    flex-grow:      0;
    flex-basis:     calc(100vw - var(--width-globalnavi) - var(--width-lobby));
    width: calc(100vw - var(--width-globalnavi) - var(--width-lobby));

    .garally {
      height: 100%;
      display:    block;
      text-align: center;

      background-color:   var(--color1);

      .scrollable {
        .item-list {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding:    0 0 calc(var(--grid) * 4) 0;

          .prepend {
            width: 100%;
          }

          article {
            width:      var(--width-gallary);
          }
        }

      }

      h3 {
        margin:         var(--verticalspace30);
        border-top:     1px solid var(--color2);
        padding:        var(--verticalspace30);
        font-size:      var(--text40-font);
        line-height:    var(--text40-line);
        font-weight:    bold;
      }

      // user ページ用。 background-imageをはめたときにいい感じにする
      background-position:    center center;
      background-attachment:  fixed;
      background-size:        cover;
      background-repeat:      no-repeat;
    }
  }
}
