.account-header-pm {
  display:            flex;
  flex-direction:     column;
  padding:            var(--verticalspace30-both);
  background-color:   var(--color2);
  position:           relative;
  left:               calc((var(--width-gallery-view) - var(--width-gallery)) / -2);

  width:      var(--width-gallery-view);
  align-items: center;

  .content {
    display:    flex;
    width:      var(--width-gallery);
    text-align: left;

    .avatar {
      display:        block;
      flex-shrink:    0;
      flex-grow:      0;
      flex-basis:     var(--iconsize50);
      height:         var(--iconsize50);
      margin:         var(--rightspace10);

      img {
        width: 100%;
        border-radius: var(--iconsize50);
      }
    }

    .info {
      display:    block;
      overflow:   hidden;
      width:      100%;

      .display-name {
        display:        block;
        font-size:      var(--text30-font);
        line-height:    var(--text30-line);
        font-weight:    bold;

        white-space:    nowrap;
        overflow:       hidden;
        text-overflow:  ellipsis;
      }

      .acct {
        font-size:      var(--text20-font);
        line-height:    var(--text20-line);
      }

      .note {
        display:        block;
        margin:         var(--verticalspace20);
        font-size:      var(--text20-font);
        line-height:    var(--text20-line);
        height:         calc(var(--text20-line) * 6);

        overflow:       hidden;
      }

      .action-buttons {
        display:        flex;
        margin:         var(--verticalspace20);

        ul {
          display:    flex;
          flex:       1;
          justify-content: flex-end;

          li {
            margin: var(--rightspace5);
            width:  var(--iconsize20);
          }
        }
      }
    }
  }

  .tabs {
    display:        flex;
    width:          var(--width-gallery);
    margin:         var(--verticalspace20);
    height:         var(--text30-line);

    font-weight:    bold;

    justify-content:    center;

    @media screen and(max-width: 980px) {
      font-size:      var(--text10-font);
      line-height:    var(--text10-line);
    }

    @media screen and(min-width: 981px) {
      font-size:      var(--text20-font);
      line-height:    var(--text20-line);
    }

    a {
      margin: var(--rightspace10);

      &.active {
        display:        block;

        border-bottom:  3px solid var(--strong1);
        color:          var(--strong1);
      }
    }
  }
}
