.tag-box {
  display: block;

  h2 {
    margin:         var(--verticalspace30);
    color:          var(--strong2);
    font-weight:    bold;
    font-size:      var(--text20-font);
    line-height:    var(--text10-line);
  }

  ul {
    margin:         var(--verticalspace20);

    li {
      margin:         var(--verticalspace10);
      display:        flex;

      font-size:      var(--text10-font);
      line-height:    var(--text10-line);

      .hashtag {
        flex: 1;

        a {
          display:    block;
          width:      100%;
        }
      }

      .right-box {
        margin-left: auto;
      }
    }
  }
}
