.status-modal {
  display: inline-block;

  .gallery-column {
    align-items: center;

    .status:not(.highlight) {
      opacity: 0.72;
    }

    .track-status, .status {
      & + .status {
        margin-top: 30px;
      }
    }

    .track-status {
      margin-top: 0;
      margin-left: -12px;
      padding: var(--padding15);
      width: var(--width-gallery);
    }
  }
}
