.track-compose-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-index-lightbox_and-icon);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
  overflow-y: scroll;

  .track-compose-modal-body {
    box-sizing: border-box;
    max-height: 100%;
  }
}
