
body {
  font-family: "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, sans-serif;

  &.admin {
    position:     fixed;
    width:        100%;
    height:       100%;
    padding:      0;
  }

  &.embed {
    background: transparent;
    margin: 0;

    .container {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  @media screen and (max-width: 360px) {
    padding-bottom: 0;
  }
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.app-holder {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}

.separate {
  display: flex;
  align-items: center;
  position: relative;
  margin: 40px auto;
  text-align: center;

  span {
    flex: 0 0 auto;
    padding: 0 10px;
  }

  &:before {
    display: block;
    content: '';
    width: 50%;
    border-bottom: 1px solid $ui-primary-color;
  }

  &:after {
    display: block;
    content: '';
    width: 50%;
    border-bottom: 1px solid $ui-primary-color;
  }
}
