.compact-header {
  background: $color8;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 15px rgba($base-shadow-color, 0.2);
  padding: 20px 0;

  h1 {
    font-size: 24px;
    line-height: 28px;
    color: $ui-primary-color;
    overflow: hidden;
    font-weight: 500;
    margin-left: 15px;

    a {
      color: inherit;
      text-decoration: none;
    }

    small {
      font-weight: 400;
      color: $ui-secondary-color;
    }

    img {
      display: inline-block;
      margin-bottom: -5px;
      margin-right: 15px;
      width: 36px;
      height: 36px;
    }
  }
}
