.player-control {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  z-index: 199;
  @media screen and (max-width: 1024px) {
    display: none;
  }

  .player-seekbar {
    position: absolute;
    z-index: 10;
    width: 0;
    height: 2px;
    background: #EF2463;
    left: 0;
    top: -2px;
    box-shadow: 0 0 10px rgba(239,36,99, 0.6);
    transition: width 0s linear;

    &.active {
      width: 100%;
    }
  }

  .player-control__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
    background: rgba(0,0,0,0.0);
    transition: background 0.3s ease-out;
  }

  .player-control__control-bar {
    width: 100%;
    height: 56px;
    background: #fff;
    display: flex;
    z-index: 1000;
    position: relative;
  }

  .control-bar__controller {
    width: 220px;
    height: 56px;
    background: #fff;
    border-right: solid 1px #f2f2f2;
    display: flex;
    align-items: center;
  }

  .control-bar__controller-toggle {
    position: relative;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;

    .fa {
      font-size: 19px;
      display: block;
    }

    .fa-play {
      margin-left: 3px;
    }

    &.is-playing {
      background: #EF2463;

      .fa {
        margin-left: 3px;
      }

      &:hover {
        background: #df1152;
      }
    }

    &.is-pause {
      background: #666;
      animation: plpopup 1.2s $easeOutQuint 0.0s infinite;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50%;
        animation: plpalse 1.2s $easeOutQuint 0.0s infinite;
        border: 2px solid #AAA;
      }

      &:hover {
        background: #EF2463;

        &:after {
          border-color: #EF2463;
        }
      }
    }
  }

  .control-bar__controller-skip {
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;

    span {
      padding: 4px 12px;
      border-radius: 4px;
      background-color: #AAA;
      color: #FFF;
      cursor: pointer;
      font-size: 12px;
      letter-spacing: 1.0px;
      transition: background-color 0.2s ease-out;

      &:not(.disabled):hover {
        background-color: #666;
      }

      &.disabled {
        cursor: default;
      }
    }
  }

  .control-bar__controller-info {
    color: #333;
    font-size: 15px;
    margin: 0 8px 0 4px;
    text-align: right;
  }

  .control-bar__controller-now {
    color: #333;
    font-size: 15px;
    font-weight: bold;
  }

  .control-bar__controller-separater {
    display: inline-block;
    margin: 0 2px;
  }

  .control-bar__controller-time {
    color: #aaa;
    font-size: 15px;
  }

  .control-bar__deck {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 56px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.0px;
    background: #fff;
    transform: translate3d(0,0,0);
    transition: background 0.3s ease-out, height 0.3s ease-out, transform 0.3s ease-out;
    cursor: pointer;
    font-family: "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, sans-serif;

    &:hover {
      background: #F2F2F2;

      .deck-selector__selector-body {
        background: #f2f2f2;
      }
    }
  }

  .control-bar__deck-selector {
    width: 120px;
    height: 550px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    transition: height 0.3s ease-out;
    background: #545454;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .deck-selector__selector-body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    width: 89px;
    height: 40px;
    padding: 8px 15px;
    background: #fff;
    border-right: solid 1px #fff;
    transition: background 0.3s ease-out, border-right 0.3s ease-out;
    margin-bottom: 0;
    user-select: none;
    white-space: nowrap;

    img {
      width: 18px;
      margin-right: 2px;
    }

    &.is-apollo {
      font-size: 14px;
      background-color: #444;
      color: #FFF;

      span {
        font-size: 12px;
        display: block;
        margin-left: 2px;
      }

      &.active {
        background-color: #111;
      }
    }
  }

  .deck_queue-wrapper {
    flex: 1;
    display: flex;
    height: 550px;
  }

  .queue-item__artwork {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    margin: 8px 16px 8px 8px;
    transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin 0.2s ease-out 0.2s;
    position: relative;
    overflow: hidden;
    background-color: #F2F2F2;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      content: "";
    }

    .queue-item__ytplayer,
    iframe,
    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    .queue-item__ytplayer,
    iframe {
      object-fit: fill;
    }
  }

  .loading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      display: block;
      border: solid #ef2463;
      border-right: solid rgba(0,0,0,0.0);
      border-radius: 50%;
      animation: plload 0.6s linear 0.0s infinite;
      padding: 7px;
      border-width: 2px;
      transition: border-width 0.2s ease-out 0.3s, padding 0.2s ease-out 0.3s;
    }
  }

  .queue-item__restrictions {
    margin: 25px;
    width: 240px;
    line-height: 1.4;
    border-radius: 2px;
    overflow: hidden;

    li {
      margin: 5px 0;
    }
  }

  .queue-item__restrictions-num {
    font-weight: bold;
  }

  .queue-item__restrictions-title {
    padding: 10px;
    background: #A7A7A7;
    color: $white;
    text-align: center;

    i {
      padding-right: 5px;
    }
  }

  .queue-item__restrictions-list {
    padding: 10px;
    background: #F2F2F2;
    font-size: smaller;
    font-weight: normal;
  }

  .deck__queue-column-list {
    flex: 1;
  }

  .deck__queue {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .deck__queue-add-form {
    width: calc(100% - 8px);

    form {
      display: flex;
      padding: 20px 0;
      color: #aaa;
      font-weight: normal;
      width: 100%;
    }

    span {
      display: flex;
      padding: 0 15px;
      width: 60px;
      align-items: center;
      justify-content: center;
      color: #EF2463;
      font-weight: bold;
    }

    input[type="text"] {
      flex: 1;
      margin: 0 10px;
      padding: 5px 10px;
      background: #F2F2F2;
      border: 0;
      border-radius: 2px;
      outline: none;
      font-size: 14px;
    }

    input[type="submit"] {
      width: 75px;
      height: 32px;
      display: block;
      -webkit-appearance: none;
      background: #EF2463;
      border: 0;
      border-radius: 5px;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      margin-left: 10px;
      outline: none;
      cursor: pointer;

      &:hover {
        background: #df1152;
      }
    }
  }

  .deck__queue-add-form-help {
    width: 32px;
    height: 32px;
    overflow: visible;
    position: relative;

    &:hover {
      .deck__queue-add-form-help-popup {
        pointer-events: auto;
        opacity: 1.0;
        transform: translate(0, 0px);
      }
    }
  }

  .deck__queue-add-form-help-popup {
    opacity: 0.0;
    pointer-events: none;
    position: absolute;
    left: -410px;
    top: -425px;
    width: 420px;
    height: 400px;
    background: #333;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transform: translate(0, -10px);

    &::after {
      position: absolute;
      right: 0;
      bottom: -20px;
      content: "";
      border: solid 20px transparent;
      display: block;
      border-right: solid 20px #333;
    }

    h3 {
      padding: 10px;
      color: #fff;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 1.4px;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px;
      width: calc(100% - 20px);
    }

    img {
      width: 40px;
      height: 40px;
      margin: 5px 10px;
      background: #fff;
      border-radius: 50%;
    }
  }

  .platform-info {
    flex: 1;
  }

  .platform-info__title {
    display: block;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 14px;
    margin-bottom: 4px;
  }

  .platform-info__url {
    margin: 0;
    padding: 0;
    font-size: 11px;
    color: #ccc;
  }

  .deck__queue-add-form-help-icon {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #F21D61;
    cursor: pointer;
  }

  .deck__queue-item {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    transition: margin-top 0.2s ease-out 0.1s;

    &:not(:first-child) {
      opacity: 0.0;
      color: #aaa;
      font-weight: normal;
    }

    &:first-child {
      .queue-item__main .queue-item__metadata::before {
        border-radius: 50%;
        width: 0;
        margin: 0;
        background: -webkit-radial-gradient(center center, circle closest-side, #EF1B62 0%, #EF1B62 3px, rgba(255,255,255,0) 3px, rgba(255,255,255,0) 8px, #EF1B62 8px);
        opacity: 0.0;
        transition: opacity 0.3s;
      }
    }
    @for $i from 1 through 9 {
      &:nth-child(#{$i+1}) {
        transition: margin-top 0.2s ease-out 0.1s, opacity 0.3s ease-out 0.05 * $i + s;

        .queue-item__main .queue-item__metadata::before {
          content: $i + '';
        }
      }
    }
  }

  .queue-item__main {
    width: calc(100% - 56px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
  }

  .queue-item__metadata {
    display: flex;

    &::before {
      color: #ccc;
      content: "";
      display: flex;
      width: 40px;
      height: 20px;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }

  .queue-item__datasource {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 32px;
    }
  }

  .deck__queue-caption {
    font-weight: bold;
    color: #EF2463;
  }
}

.player-control.is-open {
  .player-control__overlay {
    background: rgba(0,0,0,0.4);
    pointer-events: all;
  }

  .control-bar__deck {
    height: 550px;
    cursor: default;
    transform: translate3d(0,-490px,0);

    &:hover {
      background: #fff;
    }
  }

  .deck-selector__selector-body {
    color: #999;
    border-bottom: solid 1px #000;
    background: #EFEFEF;
    cursor: pointer;
    transition: color 0.2s ease-out, opacity 0.2s ease-out, background 0.2s ease-out;

    img {
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    &.active,
    &:not(.disabled):hover {
      color: #333;
      background: #fff;

      img {
        opacity: 1.0;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &.disabled {
      cursor: default;
    }

    &.is-apollo {
      background-color: #444;
      color: #FFF;

      &.active,
      &:not(.disabled):hover {
        background-color: #111;
        color: #FFF;
      }
    }
  }

  .control-bar__deck .deck-selector__selector-body {
    border-right: solid 1px #000;

    &.active {
      border-right: solid 1px transparent;
    }
  }

  .deck_queue-wrapper {
    background: #fff;
  }

  .deck__queue .deck__queue-item {
    height: 44px;

    &:first-child {
      .queue-item__main .queue-item__metadata::before {
        opacity: 1.0;
        width: 20px;
        margin: 0 10px;
      }
    }

    &:not(:first-child) {
      opacity: 1.0;
    }
  }

  .control-bar__deck-selector {
    height: 550px;
    overflow: hidden;
  }

  .queue-item__artwork {
    width: 240px;
    height: 240px;
    margin: 25px;
  }

  .loading::before {
    padding: 20px;
    border-width: 5px;
  }

  .deck__queue-caption {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.player-control.is-apollo {
  .control-bar__controller {
    background: #111;
    border-right-color: #666666;
  }

  .deck-selector__selector-body {
    border-right-color: #666666;
  }

  .deck__queue-add-form form span,
  .deck__queue-add-form-help-icon,
  .deck__queue-caption {
    color: #38b6c5;
  }

  .deck__queue-add-form input[type="submit"] {
    background-color: #38b6c5;

    &:hover {
      background-color: #38b6c5;
    }
  }

  .queue-item__artwork,
  .queue-item__restrictions-list {
    background-color: #222;
    color: #CCC;
  }

  .queue-item__restrictions-title {
    background-color: #333;
  }

  .deck__queue-item:first-child {
    .queue-item__metadata::before {
      background: -webkit-radial-gradient(center center, circle closest-side, #38b6c5 0%, #38b6c5 3px, rgba(255,255,255,0) 3px, rgba(255,255,255,0) 8px, #38b6c5 8px);
    }
  }

  .queue-item__metadata {
    color: #CCC;
  }

  .deck_queue-wrapper {
    background-color: #111;
  }

  .player-seekbar {
    background-color: #38b6c5;
  }

  .control-bar__controller-toggle {
    &:hover {
      background: #38b6c5;

      &:after {
        border-color: #38b6c5;
      }
    }

    &.is-playing {
      background: #38b6c5;

      &:hover {
        background: #38b6c5;
      }
    }
  }

  .deck__queue-add-form {
    input[type="text"] {
      background-color: #333333;
      color: #FFFFFF;
    }
  }

  .loading::before {
    border-color: #38b6c5;
    border-right: solid rgba(0,0,0,0.0);
  }
}

// animation keyframes
@keyframes plload {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes plpopup {
  0% {
    transform: scale(1);
  }

  1% {
    transform: scale(1.05);
  }

  30% {
    transform: scale(1);
  }
}
@keyframes plpalse {
  1% {
    opacity: 0;
    padding: 18px;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    padding: 26px;
  }
}
