.tips-balloon {
  position: absolute;
  display: flex;
  top: -50px;
  left: 5px;
  background: #ca426c;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  z-index: var(--z-index-lightbox_and-icon);

  &:after {
    content: '';
    position: absolute;
  }

  &.direction-bottom:after {
    left: 10px;
    bottom: -18px;
    border-top: 18px solid #ca426c;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
  }

  &.direction-top:after {
    left: 10px;
    top: -18px;
    border-bottom: 18px solid #ca426c;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
  }

  .tips-balloon__dismiss {
    margin: -8px -8px 0 2px;
    .icon-button {
      color: #98425d;
    }
  }
}
