= link_to root_path do
  = image_tag 'logo_pawoo.png', width: 450, style: 'display:block;margin:0 auto 40px;max-width:100%;'

%p
  Pawoo（パウー）はピクシブが運営するMastodonのインスタンス（サーバー）です。
  「創作活動や自由なコミュニケーションを楽しめる場」として、どなたにも幅広く使っていただけます。
