= link_to root_path do
  = image_tag asset_pack_path('logo_pawoo_music.png'), width: 450, style: 'display:block;margin:0 auto 40px;max-width:100%;'

%p
  Pawoo Music（パウー ミュージック）はピクシブが運営するMastodonの音楽系インスタンス（サーバー）です。
  「音楽を中心とする創作活動や自由なコミュニケーションを楽しめる場」として、どなたにも幅広く使っていただけます。
