%h3 18歳未満に見せるべきではないコンテンツを投稿する場合
%p 文章の投稿には「CW」、画像の投稿には「NSFW」を必ず設定してください。
%p ・CWの設定方法
= image_tag asset_pack_path('about/cw@2x.png'), width: '75%'
%p ・NSFWの設定方法
= image_tag asset_pack_path('about/nsfw@2x.png'), width: '75%'

%h3 禁止行為
%p ・公序良俗に反する行為
%p ・日本国内の法律に違反する行為
%p ・他者に中傷・脅迫・経済的もしくは精神的に損害や不利益を与える行為
%p ・実在の人物・団体などになりすます行為
%p ・他者の著作物を無断転載する行為
%p ・サーバに極端な負荷をかける行為
