- content_for :page_title do
  #{Rails.configuration.x.local_domain} プライバシーポリシー

.wrapper
  %h2 プライバシーポリシー

  %p 本アプリケーション（Pawoo Music、以下「本アプリ」といいます）で取り扱う個人情報、ならびに、本アプリから当社等に送信される利用者情報の取扱いについて説明します。また、お客さまの入力に伴わない情報は、アプリが自動的に取得します。

  %p ピクシブ株式会社（以下「当社」といいます。）は、当社が開発・運営を行うサービスをご利用になる会員（以下「ユーザー」といいます。）のプライバシーを尊重し、ユーザーの個人情報の管理に細心の注意を払うものとします。
  %h3 1. 利用目的
  %p 当社は、ユーザーが本アプリを利用することで取得した個人情報を次の目的のために利用させて頂きます。
  %ol
    %li 本アプリを提供するため
    %li 本アプリの利用規約に違反する利用形態の防止、運営上のトラブルの解決のため
    %li ユーザーの利用形態等の統計データを作成するため（但し、当該データを作成する場合は、個人を識別できないようデータを加工するものとする）
    %li ユーザーの利用状況を把握し、本アプリの改善や新サービスの開発に役立てるため

  %h3 2. 利用制限

  %p 当社は、ユーザーが本アプリを利用することで取得した個人情報について、以下に掲げる場合を除き、上記利用目的の達成に必要な範囲内において使用するものとします。

  %ol
    %li 法令に基づく場合
    %li 人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき
    %li 公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき
    %li 国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき

  %h3 3. 個人情報の取得方法

  %ol
    %li 当社は、ユーザーが本アプリを利用した範囲において、ユーザーの個人情報を取得します。
    %li その他の個人情報の取得については、適正かつ公正な方法によって行い、ユーザーの意思に反する不正な方法により取得いたしません。

  %h3 4. 取得に関する通知

  %p 当社は、ユーザーが本アプリを利用することによる取得以外の方法で個人情報を取得する場合には、その利用目的を事前に通知または公表します。利用目的が変更された場合にも、本アプリにおいて公表します。

  %h3 5. 個人情報の管理

  %p 当社は、ユーザーの個人情報を適切かつ安全に管理します。

  %h3 6. 管理の委託

  %p 当社は、取得した個人情報の取扱いを委託する場合があります。その場合、その受託者と必要な契約を締結し、受託者が個人情報を適切に管理するよう監督します。

  %h3 7. Mastodon APIの送信

  %p 本アプリは、弊社の指定するMastodonサーバー(music.pawoo.net)または、ユーザーが任意で指定するMastodon互換サーバーと通信を行います。

  %p Pawoo MusicはMastodon APIに準拠したアプリであり、ユーザーは任意の接続先サーバーのドメイン名を入力することができます。接続先サーバーのドメイン名の入力をもって、ユーザーは本アプリから該当の接続先サーバーの管理者に対してMastodon API仕様の範囲において情報を送信することに同意したものとします。

  %h3 7. 個人情報の第三者への提供

  %p 当社は、ユーザーの個人情報について、原則としてユーザーの同意なくして第三者に提供しません。但し、以下の場合はこの限りではありません。

  %ol

    %li 当社が本アプリ等の一部を業務委託し、委託業務の遂行に必要な範囲で提供する場合
    %li 統計的情報を提供する目的で、個々の個人情報を集積または分析し、個人を識別できない形式に加工して、その統計データを開示する場合
    %li 法令により開示又は提供が認められる場合

  %h3 8. 個人情報の開示

  %p 当社は、ユーザーから当該個人の個人情報の開示を求められた場合は、その開示に応じます。但し、以下の場合には、その全部又は一部を開示しない場合があります。

  %ol

    %li ユーザー本人又は第三者の生命・身体・財産その他の権利を害するおそれがある場合
    %li 開示に応じることが当社の業務遂行に著しい障害を生じさせる場合
    %li 法令に違反する場合

  %h3 9. 個人情報の訂正等

  %p 当社は、ユーザー本人から当該ユーザーの個人情報の訂正・追加等を求められた場合には、当該ユーザー本人であること及び訂正等の正確性を確認させて頂いた上、合適切な対応をします。

  %h3 10. クッキーの使用等について

  %p 本アプリはMastodonサーバーとの連携および、必要な認可情報を取得する目的においてWebブラウザのCookieを使用します。また、弊社の管轄しない接続先のMastodonサーバーが独自の目的にCookieを使用する場合においては、その限りではありません。

  %h3 11. 免責

  %p 次に掲げる場合には、第三者による個人情報の取得に関し、当社は一切の責任を負いません。

  %ol

    %li ユーザーご本人が当社サービスの機能または別の手段を用いて第三者に個人情報を明らかにした場合
    %li ユーザーが当社サービス上に入力した情報等により、個人が識別できてしまった場合

  %h3 12. お問い合わせ

  %p 当社は、当社の業務の適正な実施に支障を及ぼすおそれがある場合を除き、保有する個人情報を情報主体である本人のみが容易に知り得る状態を確保いたします。その内容の確認や、訂正、削除は弊社規定の方法をご利用ください。

  %p また、情報主体である本人からの、本人の個人情報開示、内容の訂正、削除についてのお問い合わせ及び苦情相談は、こちらで受け付けています。

  %h3 13. プライバシーポリシーの改定について

  %p 当社は、予告なくしてプライバシーポリシーの全部又は一部を改定することがあります。

  %p 当社は、本アプリケーションのバージョンアップに伴って、利用者情報の取得項目の変更や追加、利用目的の変更、第三者提供等について変更がある場合には、ダウンロード前に通知し、重要なものについてはインストール前もしくはインストール時にあらためて同意を取得させていただきます。
