body {
  font-family: 'Roboto', sans-serif;
  background: $color1;
  background-size: cover;
  background-attachment: fixed;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: $color5;
  text-rendering: optimizelegibility;
  font-feature-settings: "kern";
  text-size-adjust: none;

  &.app-body {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    background: $color1;
  }

  &.embed {
    background: transparent;
    margin: 0;

    .container {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  &.admin {
    background: darken($color1, 4%);
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  @media screen and (max-width: 360px) {
    padding-bottom: 0;
  }
}

button:focus {
  outline: none;
}

.app-holder {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.separate {
  display: flex;
  align-items: center;
  position: relative;
  margin: 40px auto;
  text-align: center;

  span {
    flex: 0 0 auto;
    padding: 0 10px;
  }

  &:before {
    display: block;
    content: '';
    width: 50%;
    border-bottom: 1px solid $color3;
  }

  &:after {
    display: block;
    content: '';
    width: 50%;
    border-bottom: 1px solid $color3;
  }
}
