.delay {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 240ms cubic-bezier(0.215, 0.61, 0.355, 1);

  &.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
